---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "tomcat"
  namespace: "default"
  labels:
    app: "tomcat"
spec:
  replicas: 4
  selector:
    matchLabels:
      app: "tomcat"
  template:
    metadata:
      labels:
        app: "tomcat"
    spec:
      containers:
      - name: "tomcat"
        image: "tomcat"
        
---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "tomcat-service"
  namespace: "default"
  labels:
    app: "tomcat"
spec:
  ports:
  - protocol: "TCP"
    port: 8080
    targetPort: "8080"
  selector:
    app: "tomcat"
  type: "LoadBalancer"
  loadBalancerIP: "" 
